dialog[open] {
  background-color: var(--background-tertiary);
  border: 1px solid var(--brand-primary);
  box-shadow: 0 0 2em var(--brand-muted);
  border-radius: .5em;
  padding: 0;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: fit-content;
  max-height: 80%;
  overflow: auto;
  z-index: 10;

  display: grid;

  > * {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    
    .button-container {
      margin-top: auto;
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, .3);
  }
}