.login-container {
  display: grid;
  align-items: center;
  gap: .5ch;

  p {
    margin: .5ch;
    color: var(--text-muted);
    text-align: right;
  }

  span {
    color: var(--text-primary);
  }

  button {
    margin-left: auto;
  }
}