<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/dd60ee5c-44ba-4507-90e7-c17a0abe3ce8/resourcegroups/FlipNow/providers/Microsoft.Web/sites/FlipNowAPI-2</ResourceId>
    <ResourceGroup>FlipNow</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://flipnowapi-2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1c365ada-fc32-440e-b9d9-f61a3878f685</ProjectGuid>
    <PublishUrl>https://flipnowapi-2.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FlipNowAPI-2</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>