.site-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-secondary);
  padding: 1ch;
  height: 4em;

  h1 {
    margin: auto;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    height: auto;
    gap: 1ch;
    padding: 1em;
  }
}