$text-primary: #eee;
$text-muted: #727272;

$background-primary: hsl(0, 0%, 10%);
$background-secondary: hsl(0, 0%, 12%);
$background-tertiary: hsl(0, 0%, 14%);

$brand-primary: hsl(22, 88%, 66%);
$brand-muted: hsl(22, 44%, 31%);

$card__background: #34098B;
$card__title: #A78CDE; // card__title--muted in figma
$card__title--hovered: #D1C0F1;
