@use './colors' as clrs;
@use './mixins' as mixins;

@layer base;

@layer base {
  @import './components/index.scss';

  * {
    box-sizing: border-box;
    position: relative;
    margin: unset;
    @include mixins.transition();
  }

  :root {
    --text-primary: #{clrs.$text-primary};
    --text-secondary: #{clrs.$text-secondary};
    --text-muted: #{clrs.$text-muted};

    --background-primary: #{clrs.$background-primary};
    --background-secondary: #{clrs.$background-secondary};
    --background-tertiary: #{clrs.$background-tertiary};

    --brand-primary: #{clrs.$brand-primary};
    --brand-muted: #{clrs.$brand-muted};

    --crud-success: #{clrs.$crud-success};
    --crud-error: #{clrs.$crud-error};

    --link: #{clrs.$link};

    font-size: 16px;
    font-family: Arial;
  }

  body {
    background-color: var(--background-primary);
    color: var(--text-primary);
  }

  #root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  #root > *:nth-child(2) {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: center;
    gap: 1.5em;
    margin: .5em 1em 2em;
  }

  a {
    color: var(--link);
  }

  [title] {
    text-decoration: dotted underline var(--text-muted);
  }
}