.connection-logger {
  display: grid;
  background-color: var(--background-secondary);

  &:has(.logs-container) {
    padding: 1em;
    margin: 1ch;
    border-radius: 1em;
  }
}

.logs-container {
  display: grid;
  gap: 1em;

  header {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    gap: 2em;

    h1 {
      margin: unset;
    }
  }

  ul {
    display: flex;
    flex-direction: column-reverse;
    gap: .5rem;
    list-style: none;
    padding-left: 0;
  }
}