@use '../../../../../../styles/colors' as clrs;

$gap: .75em;

ul.gamecard-container {
  list-style: none;
  padding: unset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: #{$gap};

  li {
    display: grid;
    place-items: center;
    height: var(--_card-height);
    width: var(--_card-width);
  }

  &[data-is-turn=true] .gamecard {
    cursor: pointer;
  }
  &[data-is-turn=false] .gamecard {
    background-color: darken(clrs.$card__background, 10%);
    cursor: not-allowed;
  }
}