ul#leaderboard {
  padding: .5em;
  background-color: var(--background-secondary);
  list-style: none;
  display: grid;
  flex-direction: column;
  gap: .5em;
  container-type: inline-size;
  min-width: 25ch;
  margin: 0;

  li {
    font-size: 1rem;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  .turn {
    border: 1px solid var(--brand-primary);
    border-radius: 1ch;
  }

  .host::after {
    content: '👑';
    margin-top: -.6ch;
    width: 2ch;
  }
}