@use '../../../../../../styles/colors' as clrs;

#invite-code {
  display: flex;
  flex-direction: column;

  p {
    display: flex;
    align-items: center;
    gap: .5ch;
    margin: 1ch 0;

    @media (max-width: 350px) {
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      
      span:first-child {
        flex: 1 1 100%;
      }
    }
  }
}

#inviteCode {
  text-align: center;
  padding: 1ch;
  background-color: var(--background-tertiary);
  border-radius: .5em;
  width: fit-content;

  &:hover {
    cursor: pointer;
    background-color: lighten(clrs.$background-tertiary, 2.5%);
  }

  &::before {
    content: '';
    font-size: .75rem;
    background-color: var(--text-muted);
    position: absolute;
    top: -1ch;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
  }

}

.copied {
  margin-left: 1ch;
  color: var(--crud-success);
}