#active-game {
  display: grid;
  place-items: center;
  gap: 1ch;

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.game-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  place-items: center;
  min-height: min(20vh, 75vw);
}