@layer base {
  dialog[open] {
    background-color: var(--background-tertiary);
    border: 1px solid var(--brand-primary);
    box-shadow: 0 0 2em var(--brand-muted);
    border-radius: .5em;
    padding: 0;

    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: fit-content;
    max-height: 80%;
    overflow: auto;
    z-index: 10;

    display: grid;

    .modal-content {
      padding: 1em;

      .button-container {
        margin-top: auto;
      }
    }

    &::backdrop {
      background-color: rgba(0, 0, 0, .3);
    }
  }
}